@model UserRoleVM
<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Manage User Role Page</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Manage User Role</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" class="row">
                            <div class="mb-3">
                                <label asp-for="userId" class="form-label"></label>
                                <input asp-for="userId" readonly class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="SelectedRoleName" class="form-label"></label>
                                <select class="form-select" asp-for="SelectedRoleName">
                                    <option selected disabled>Choose a role</option>
                                    @foreach (var role in Model.RoleList)
                                    {
                                        <option value="@role.Name">@role.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="SelectedRoleName" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-end gap-2">
                                <a asp-controller="user" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}