<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CozaStore</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />

	<title>Blank Page | AdminKit Demo</title>

	<link href="~/css/admin/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    <link rel="stylesheet" href="~/css/fonts/font-awesome-6-pro/css/all.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        @* nav *@
        <partial name="_NavPartial"></partial>
         <div class="main">
            <partial name="_HeaderPartial"></partial>
            @RenderBody();
            <partial name="_FooterPartial"></partial>
         </div>   
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/toastrSettings.js"></script>
    <script src="~/js/admin/app.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastrSettings.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_Notification" />
</body>
</html>
