@model PagedList<Review>
@foreach (var review in Model)

{
    <div class="flex-w flex-t p-b-68">
        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
            <img src="@review.AppUser.Image" alt="AVATAR">
        </div>

        <div class="size-207">
            <div class="flex-w flex-sb-m p-b-17">
                <span class="mtext-107 cl2 p-r-20">
                    @(review.AppUser.FullName + " - " + review.Created.ToString("dd/MM/yyyy hh:mm:ss tt"))
                </span>

                <span class="fs-18 cl11 pointer">
                    @for (int i = 1; i <= review.Rating; i++)
                    {
                        <i class="item-rating pointer zmdi zmdi-star"></i>
                    }
                </span>
            </div>

            <p class="stext-102 cl6">
                @Html.Raw(review.Content)
            </p>
        </div>
    </div>
}