.accordion-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: 1px solid #ddd; /* Optional: Adds a border to the accordion item */
    border-radius: 5px; /* Optional: Rounds the corners */
    overflow: hidden; /* Ensures the shadow doesn't extend beyond the accordion item */
}

.accordion-button {
    border-radius: 5px; /* Optional: Rounds the corners of the button */
}
