<div class="d-flex align-items-center justify-content-center">
    <section class="container text-center m-5">
        <h1 class="text-center text-danger m-5 fw-bold">Can't access page!!!</h1>
        <img src="~/img/accessdenied.jpg" alt="access-denied" style="width: 1200px;" />
    </section>
</div>
